
<marquee>
  <h2>Wiggles Fun Times!!!!</h2>
</marquee>

<p>Name: <%= @wiggles["wiggle_colour"] %></p>

<p>Name: <%= @wiggles["full_name"] %></p>


<marquee>
<img src="<%= @wiggles["image"] %>">
</marquee>

<p>Description: <%= @wiggles["description"] %></p>

<p>Legs: <%= @wiggles["prior_work"] %></p>

</body>
</html>
